/* ============================================================================= My CSS ========================================================================== */
body, html {
  height: 100%;
}

/* ---- particles.js container ---- */
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../img/brain.png");
  background-size: 30rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: rgb(calc(235 * var(--on) + 20), calc(235 * var(--on) + 20), calc(235 * var(--on) + 20));
  background-attachment: fixed;
  filter: brightness(80%);
}
#particles-js canvas {
  display: block;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity 0.8s ease, -webkit-transform 1.4s ease;
  transition: opacity 0.8s ease, transform 1.4s ease;
}
.outer-container {
  width: 70%;
  margin: 1rem auto 1rem auto;
}

/* ---- navbar ---- */
.navbar-collapse {
  justify-content: end;
} 
.navbar-nav { 
  gap: 1rem;
}
.nav-link.active {
  border-radius: 0.25rem;
  background-color: teal;
  color: white !important;
}

/* ---- light switch ---- */
:root {
  --on: 1;
  --stroke: hsl(0, 0%, calc((60 - (var(--on) * 50)) * 1%));
  --shine: hsla(0, 0%, 100%, var(--on));
  --cap: hsl(0, 0%, calc((40 + (var(--on) * 30)) * 1%));
  --filament: hsl(45, calc(var(--on) * 80%), calc(25 + (var(--on) * 75)));
}
.toggle-scene {
  overflow: visible;
  position: relative;
}
.toggle-scene__bulb {
  cursor: pointer;
}
.bulb__filament {
  stroke: var(--filament);
}
.bulb__shine {
  stroke: var(--shine);
}
.bulb__flash {
  stroke: #f5e0a3;
  display: none;
}
.bulb__bulb {
  stroke: var(--stroke);
  fill: hsla(calc(180 - (95 * var(--on))), 80%, 80%, var(--on));
}
.bulb__cap {
  fill: var(--cap);
}
.bulb__cap-shine {
  fill: var(--shine);
}
.bulb__cap-outline {
  stroke: var(--stroke);
}

/* ---- body container ---- */
.container {
  position: relative;
  margin-top: 1rem;
  z-index: 1;
  opacity: 0.8;
  background: rgb(calc(255 * var(--on)), calc(255 * var(--on)), calc(255 * var(--on)));
  color: rgb(calc(255 * (1 - var(--on))), calc(255 * (1 - var(--on))), calc(255 * (1 - var(--on))));
  padding: 2rem !important;
  border: 2px solid teal;
  border-radius: 0.25rem;
  box-shadow: 0 0 15px var(--bs-teal);
}
.container:hover {
  opacity: 1;
  border: 2px solid var(--bs-teal);
  box-shadow: 0 0 25px var(--bs-teal);
}
.line-1{
  position: relative;
  width: 12em;
  margin-top: 2rem;
  border-right: 2px solid teal;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);    
}
.anim-typewriter{
animation: typewriter 4s steps(44) 1s 1 normal both,
           blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
from{width: 0;}
to{width: 12em;}
}
@keyframes blinkTextCursor{
from{border-right-color: teal;}
to{border-right-color: transparent;}
}
.liner {
  display: flex;
  align-items: flex-start;
  text-align: left;
  color: teal;
  margin-bottom: 1rem;
}
.liner::after {
  content: '';
  flex-grow: 1;
  height: 1px;
  background: teal;
  min-width: 20px;
  margin: auto;
  margin-left: 20px;
}
.link {
  text-decoration: none;
  color: teal;
}
.link:hover {
  color: var(--bs-teal);
}
.thumbnail {
  border-radius: 0.25rem;
  box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
}
.footer {
  position: relative;
  margin-top: 1rem;
  height: 1rem;
}

/* ---- mosaic ---- */
.card {
  justify-content: flex-end;
  color: rgb(calc(255 * (1 - var(--on))), calc(255 * (1 - var(--on))), calc(255 * (1 - var(--on))));
  border: 0 !important;
  border-radius: 0.25rem !important;
  background-size: 100% 100%;
  padding: 1rem;
}
.card-img-top {
  height: 15rem;
  width: 10rem;
}