:root {
  --color-primary: teal;
  --color-secondary: var(--bs-teal);
  --color-tertiary: aquamarine;
}
body, html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none !important;
}
.row {
  --bs-gutter-y: 1rem !important;
}

.intro {
  z-index: 1;
  height: 100vh;
  object-fit: contain;
  background-color: white;
  animation: cssAnimation 0s ease-in 2.5s forwards, fadeOut ease-in-out 2.5s;
  animation-fill-mode: forwards;
}
@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}
@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0.001;} 
} 

/* ---- custom scrollbar ---- */
*::-webkit-scrollbar {
  width: 10px;
  background-color: hsl(208, 7%, calc(95% * var(--on) + 5%));
}
*::-webkit-scrollbar-track {
  border-radius: 8px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-clip: content-box;
  background-color: hsl(208, 7%, calc(75% - 45% * var(--on)));
}
*::-webkit-scrollbar-thumb:hover {
  background-color: hsl(208, 7%, calc(60% - 10% * var(--on)));
}

/* ---- particles.js container ---- */
#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(calc(235 * var(--on) + 20), calc(235 * var(--on) + 20), calc(235 * var(--on) + 20));
  filter: brightness(80%);
}
#particles-js canvas {
  display: block;
  transform: scale(1);
  opacity: 1;
  transition: opacity 0.8s ease, transform 1.4s ease;
}

.outer-container {
  display: none;
  flex: 1 0 auto;
  width: 98%;
  margin: 1rem auto 1rem auto;
}

/* ---- scroll to top ---- */
#scroll {
  z-index: 2;
  position: fixed;
  right: 0.75rem;
  bottom: 0.75rem;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--color-primary);
  display: none;
  border-radius: 2.5rem;
}
#scroll span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -12px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: white;
}
#scroll:active {
  background-color: var(--color-secondary);
}

/* ---- navbar ---- */
.navbar-collapse {
  justify-content: end;
} 
.navbar-nav { 
  gap: 1rem;
}
.nav-link.active {
  border-radius: 0.25rem;
  background-color: var(--color-primary);
  color: white !important;
}
.navbar-toggler {
  width: 20px;
  height: 20px;
  position: relative;
  transition: .5s ease-in-out;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
  position: relative;
}
.navbar-toggler span {
  margin: 0;
  padding: 0;
}
.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--color-primary);
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}
.middle-bar {
  margin-top: 0px;
}
.navbar-toggler.collapsed .top-bar {
  position: absolute;
  top: 0px;
  transform: rotate(0deg);
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  position: absolute;
  top: 10px;
  filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .bottom-bar {
  position: absolute;
  top: 20px;
  transform: rotate(0deg);
}
.navbar-toggler .top-bar {
  top: inherit;
  transform: rotate(135deg);
}
.navbar-toggler .middle-bar {
  opacity: 0;
  top: inherit;
  filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar {
  top: inherit;
  transform: rotate(-135deg);
}
.navbar-collapse ul li {
  text-align: center;
}

/* ---- light switch ---- */
:root {
  --on: 1;
  --stroke: hsl(0, 0%, calc((60 - (var(--on) * 50)) * 1%));
  --shine: hsla(0, 0%, 100%, var(--on));
  --cap: hsl(0, 0%, calc((40 + (var(--on) * 30)) * 1%));
  --filament: hsl(45, calc(var(--on) * 80%), calc(25 + (var(--on) * 75)));
}
.toggle-scene {
  overflow: visible;
  position: relative;
}
.toggle-scene__bulb {
  cursor: pointer;
}
.bulb__filament {
  stroke: var(--filament);
}
.bulb__shine {
  stroke: var(--shine);
}
.bulb__flash {
  stroke: #f5e0a3;
  display: none;
}
.bulb__bulb {
  stroke: var(--stroke);
  fill: hsla(calc(180 - (95 * var(--on))), 80%, 80%, var(--on));
}
.bulb__cap {
  fill: var(--cap);
}
.bulb__cap-shine {
  fill: var(--shine);
}
.bulb__cap-outline {
  stroke: var(--stroke);
}

/* ---- body container ---- */
.inner-container {
  position: relative;
  margin-top: 1rem;
  z-index: 1;
  padding: 0 0.5rem 0.5rem 0.5rem;
  background: rgb(calc(255 * var(--on)), calc(255 * var(--on)), calc(255 * var(--on)));
  color: rgb(calc(255 * (1 - var(--on))), calc(255 * (1 - var(--on))), calc(255 * (1 - var(--on))));
  border: 1px solid var(--color-primary);
  border-radius: 1rem;
}

/* ---- carousel ---- */
.carousel-indicators {
  position: relative !important;
}
.carousel-control-prev, .carousel-control-next {
  width: 5% !important;
}
.carousel-item {
  text-align: center;
}
.carousel-item img {
  width: 92%;
  margin: auto;
  height: 25rem;
  border-radius: 0.5rem;
}
.carousel-item .carousel-caption {
  width: 92%;
  margin: auto;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  color: white !important;
  background: rgba(0,0,0,0.4);
  padding: 0.75rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

/* ---- mosaic ---- */
.img-container{
  padding: 1rem;
  float: left;
  width: 100%;
}
.content {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
}
.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.25;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.content:hover .content-overlay{
  opacity: 1;
}
.content-image{
  width: 100%;
  height: 25rem;
  object-fit: cover;
}
.content-title {
  color: white;
  position: absolute;
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.content:hover .content-title{
  opacity: 0;
}
.content-details {
  color: white;
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 90%;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
}
.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}
.fadeIn-bottom{
  top: 80%;
}

/* ---- jigsaw ---- */
.piece {
  stroke-miterlimit: 10;
  stroke-width: 29.32px;
  fill: var(--color-primary);
  stroke: var(--color-tertiary);
}
.piece-text {
  font-size: 12.5rem;
  fill: white;
}
#jigsaw g:hover .piece {
  fill: var(--color-secondary);
}
#jigsaw g {
  cursor: pointer;
}

/* ---- miscellaneous ---- */
.liner {
  display: flex;
  align-items: center;
  text-align: left;
  color: var(--color-primary);
  padding-bottom: 1rem;
  padding-top: 1.5rem;
}
.liner::after {
  content: '';
  flex-grow: 1;
  height: 1px;
  background: var(--color-primary);
  min-width: 1rem;
  margin: auto;
  margin-left: 1rem;
}
.link {
  text-decoration: none;
  color: var(--color-primary);
}
.link:hover {
  color: var(--color-secondary);
}
.thumbnail {
  border-radius: 1rem;
  box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
  max-width: 100%;
  aspect-ratio: 1;
  margin-bottom: 1.25rem;
}
.quote {
  position: relative;
  width: 90%;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.blockquote {
  font-size: var(--bs-body-font-size) !important;
  font-style: italic;
}
.collab {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.collab-col {
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
}
.collab-img {
  height: 5rem;
  max-width: 12rem;
  object-fit: contain;
}
.col-personal-photo {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.rounded-circle {
  border: solid 0.2rem var(--color-primary);
}
.col-personal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem
}
.footer {
  display: none;
  z-index: 1;
  height: 1rem;
  text-align: center;
  color: rgb(calc(255 * (1 - var(--on))), calc(255 * (1 - var(--on))), calc(255 * (1 - var(--on))));
  margin-top: 1rem;
}

/* ---- media queries ---- */
@media screen and (min-width: 768px){
  .outer-container{
    width: 70%;
  }
  .inner-container{
    padding: 0 2rem 2rem 2rem;
    opacity: 0.9;
    border: 2px solid var(--color-primary);
    box-shadow: 0 0 10px var(--color-secondary);
  }
  .inner-container:hover {
    opacity: 1;
    border: 2px solid var(--color-secondary);
    box-shadow: 0 0 15px var(--color-secondary);
  }
  .img-container{
    width: 50%;
  }
  .collab {
    gap: 2rem;
  }
  .collab-col {
    flex: 0 0 auto !important;
    width: 12rem !important;
    padding: 0 !important;
  }
  .col-personal-photo {
    justify-content: flex-end;
  }
  .col-personal-info {
    align-items: flex-start;
  }
  #scroll {
    right: 1.5rem;
    bottom: 1.5rem;
  }
  #scroll:hover {
    background-color: var(--color-secondary);
  }
}